[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ColorNameR"]
	path = ColorNameR
	url = https://github.com/msanchez-beeckman/colornamer
